__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.venv
**/.venv
cache
results
responses_api_agents/*
!responses_api_agents/anyterminal_agent
!responses_api_agents/anyterminal_agent/setup_scripts
!responses_api_agents/anyterminal_agent/setup_scripts/_portable_python.sh
!responses_api_agents/claude_code_agent
!responses_api_agents/claude_code_agent/**
responses_api_models
resources_servers
environments
benchmarks
build
outputs
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
**/*.nemo
**/*.ckpt
