stages:
- test

sast:
  stage: test

include:
- template: Security/SAST.gitlab-ci.yml


before_script:
  - |
    if [[ "$CI_PIPELINE_SOURCE" == "merge_request_event" && "$CI_MERGE_REQUEST_TITLE" == Draft:\ * ]]; then
      echo "Failing on draft MR to enforce this check to run"
      exit 1
    fi
  - apt-get update
  # Curl is required for setup_nvidia.sh to download uv
  # ca-certificates is there to support curl and mitigate `curl: (77) error setting certificate file: /etc/ssl/certs/ca-certificates.crt`
  - apt-get install -y --no-install-recommends git curl ca-certificates
  # The flow below should be used and synced with any Docker or container related flows. There is no script here to keep it 100% explicit.
  # This is how we test and this is how you should use/consume.
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - source $HOME/.local/bin/env
  - uv venv --python 3.12
  - source .venv/bin/activate
  - uv sync --extra dev

default:
  image: ubuntu:latest

run_continuous_integration_tests:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - ruff format --check
    - ruff check
    - ng_dev_test
    - ng_test_all +fail_on_total_and_test_mismatch=true
  tags:
    - linux
