-e nemo-gym[dev] @ ../../
-e fhaviary[llm] @ ../../../aviary
-e aviary.gsm8k @ ../../../aviary/packages/gsm8k
-e aviary.hotpotqa @ ../../../aviary/packages/hotpotqa
-e aviary.notebook @ ../../../aviary/packages/notebook
-e aviary.repl @ ../../../aviary/packages/repl
tqdm
datasets
huggingface-hub
