-e nemo-gym[dev] @ ../../
fhaviary[gsm8k,hotpotqa,notebook,llm]>=0.28.0
tqdm
datasets
huggingface-hub
pillow==12.1.1

hypotest @ git+ssh://git@github.com/EdisonScientific/hypotest.git@akomaragiri/enroot_perf_fixes
