-e ../..
# Internal dependency; users must have SSH access to gitlab-master.nvidia.com.
conversation-plugin @ git+ssh://git@gitlab-master.nvidia.com:12051/sdg-research/sdg-nemo-sim.git@bcfc67fbba386d0acddb04d84719f43b85739653#subdirectory=conversation-plugin
