tavily_search_resources_server:
  resources_servers:
    tavily_search:
      entrypoint: app.py
      domain: agent
      judge_model_server:
        type: responses_api_models
        name: judge_model
      judge_responses_create_params: {
        input: []
      }
judge_model: #TODO: should this be declared here?
  responses_api_models:
    vllm_model:
      entrypoint: app.py
      base_url: ${search_judge_model_base_url}
      api_key: ${search_judge_model_api_key}
      model: ${search_judge_model_name}
      return_token_id_information: false
      uses_reasoning_parser: true

tavily_search_simple_agent:
  responses_api_agents:
    simple_agent:
      entrypoint: app.py
      resources_server:
        type: resources_servers
        name: tavily_search_resources_server #TODO: given that we declare judge model inside the tavily_search_resources_server, should we declare it here?
      model_server:
        type: responses_api_models
        name: policy_model
      judge_model_server:
        type: responses_api_models
        name: judge_model
      datasets:
      - name: train
        type: train
        jsonl_fpath: resources_servers/tavily_search/sft_samples/train.jsonl
        num_repeats: 1
        gitlab_identifier:
          dataset_name: tavily_search
          version: 0.0.1
          artifact_fpath: train.jsonl
        license: Apache 2.0
      - name: validation
        type: validation
        jsonl_fpath: resources_servers/tavily_search/sft_samples/validation.jsonl
        num_repeats: 1
        gitlab_identifier:
          dataset_name: tavily_search
          version: 0.0.1
          artifact_fpath: validation.jsonl
        license: Apache 2.0
      - name: example
        type: example
        jsonl_fpath: resources_servers/tavily_search/data/example.jsonl
        num_repeats: 1
      - name: benchmark_browsecomp
        type: train
        jsonl_fpath: resources_servers/tavily_search/benchmark/browsecomp/browsecomp_test_set.jsonl
        num_repeats: 1
        gitlab_identifier:
          dataset_name: tavily_search
          version: 0.0.1
          artifact_fpath: browsecomp_test_set.jsonl
        license: Apache 2.0
      - name: simpleqa_benchmark
        type: train
        jsonl_fpath: resources_servers/tavily_search/benchmark/simpleqa/simpleqa_test_set.jsonl
        num_repeats: 1
        gitlab_identifier:
          dataset_name: tavily_search
          version: 0.0.1
          artifact_fpath: simple_qa_test_set.jsonl
        license: Apache 2.0      
